.App {
  height: 100vh;
}
.content-holder {
  border: 2px solid red;
  margin: 50px 50px;
  box-sizing: border-box;
  height: auto;
}

.radio-col-left{
  margin-left: 30px;
}

.logo {
 flex:1
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content-header {
  background-color: white;
  height: 30%;
}
.image-holder{
  display: flex;
  padding: 0 15%;
  margin-top: 2%
}
.col, .radio-col{
  flex: 1;
  justify-content: center;
}
.left {
  box-shadow: .5px 0 0 #000;
}
input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  background: #333;
}
.checklist-section {
  display: flex;
  height: 60%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
